/*
UCR blue: #2D6CC0
UCR gold: #F1AB00
*/

/* Base */

body {
  font-family: 'Avenir Roman', sans-serif;
  font-size: 18px;
  color: #515151;
  line-height: 1.75rem;
  font-weight: 300;
}

@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

h1{
  font-size: 2rem;
}

h1 a {
  text-decoration: none;
  color: #333;
}

h1 a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Avenir Roman', sans-serif;
  color: #333;
  font-weight: 300;
}

a {
  color: #2D6CC0;
  text-decoration: none;
}

a:hover {
  color: #2D6CC0; /* black; */
  border-bottom: none;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

img.theme {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: 0.25rem solid #ccc;
  margin: 1.5em 10px;
  color: #999;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

/* Site container */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
.masthead-container {
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-auto-rows: minmax(auto, 50px);
    background-color: #2D6CC0;
    grid-gap: 0px;
}
.masthead-spacer-left {
    grid-column: 1;
    align-self: center;
}
.masthead-content {
    grid-column: 2;
    align-self: center;
}
.masthead-spacer-right {
    grid-column: 3;
    align-self: center;
}
@media (max-width: 1366px) {
  .container {
    width: 45vw;
  }
}

/* Grid layout */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 25px;
  grid-auto-rows: minmax(100px, auto);
}
.four-column {
  grid-column: col / span 3;
  grid-row: row;
  margin-right: auto;
}
.three-column {
  grid-column: col / span 4;
  grid-row: row;
}
.three-column-1 {
  grid-column: 1 / 5;
}
.three-column-2 {
  grid-column: 5 / 9;
}
.three-column-3 {
  grid-column: 9 / 13;
}
.two-column-side {
  grid-column: 1 / 5;
}
.two-column-main {
  grid-column: 5 / 13;
}
.member-image {
  grid-column: 1 / 4;
}
.member-content {
  grid-column: 4 / 13;
}
.project-side {
  grid-column: 1 / 4;
}
.project-main {
  grid-column: 4 / 13;
}

/* Spacers */

.hugespacer {
	height: 50px;
}
.bigspacer {
	height: 20px;
}
.spacer {
	height: 10px;
}
.smallspacer {
	height: 5px;
}

/* Code project formatting */

.project-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 300;
}
.project-subtitle {
    color: #515151;
}
.code-list {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
  grid-auto-flow: row;
}
.github-avatar {
  vertical-align: middle;
  width: 24px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.commit-date {
  font-family: 'Avenir Roman', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color : #333;
}
.commit-message {
  font-family: 'Avenir Roman', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color : #777;
}
.commit-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.katex {
  font-size: 1.0em;
  font-family: 'KaTeX_SansSerif';
}

/* 48em */

@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

/* Masthead */

.masthead {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-family: 'Avenir Roman', sans-serif;
  /*background-color: #2D6CC0;*/
}
.masthead a:hover {
  color: black;
  /* color: #F1AB00;*/
}
.masthead-title a {
  font-size: 2rem;
  text-decoration: none;
  color: #505050;
  /* color: #FFF; */
}
.masthead-subtitle {
  color: #999;
}
.masthead-lab {
  font-weight: 500;
  letter-spacing: -0.20px;
}

/* Post */

.post-container {
  margin-bottom: 4rem;
}
.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}
.post-date {
  display: block;
  margin-top: 3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-family: 'Avenir Roman', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}
@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}
.related {
  padding-bottom: 2rem;
}
.related-posts {
  padding-left: 0px;
  list-style: none;
}
.related-posts a {
  text-decoration: none;
}

/* Pagination */

.pagination {
  overflow: hidden;
  font-family: 'Avenir Roman', sans-serif;
  text-align: center;
  font-weight: 300;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 15px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}

/* Footer */

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}
.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}
.footer a:hover {
  color: #333;
}

/* Menu */

.menu {
  padding-top: 0.5rem;
  display: block;
}

.menu-content {
  float: left;
}

.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-right: 10px;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: #999;
  font-size: 1rem;
}

@media (max-width: 30em) {
  .social-icons {
    float: left;
    padding-top: 0px;
  }
  .menu-content {
    margin-bottom: 5px;
  }
}

/* Code */

pre,
code {
    font-size: 0.8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    font-family: "Source Code Pro";
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

.highlight .lineno {
  color: #aaa;
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}


/* Social media icons */

.sharing-icons a {
  padding-right: 10px;
}

.fa-book:hover {
	color: #2D6CC0;
}

.fa-envelope {
  padding: 0px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-envelope:hover {
	color: #2D6CC0; /* #f39c12; */
}

.fa-twitter {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-twitter:hover {
	color: #2D6CC0; /* #00aced; */
}

.fa-instagram {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-instagram:hover {
	color: #2D6CC0; /* #375989; */
}

.fa-github {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-github:hover {
	color: #2D6CC0; /* #343434; */
}

.fa-linkedin {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-linkedin:hover {
	color: #2D6CC0; /* #0073a4; */
}

.fa-facebook {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-facebook:hover {
	color: #2D6CC0; /* #3d5b99; */
}

.fa-google-plus {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-google-plus:hover {
	color: #2D6CC0; /* #e64a41; */
}

.fa-pinterest {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-pinterest:hover {
	color: #bd081c;
}

.fa-medium {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-medium:hover {
	color: #00AB6C;
}

.fa-codepen {
  padding: 5px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
}

.fa-codepen:hover {
	color: black;
}
